/* CSS for JavaScript index.html */


body {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	}



h1, p, footer, .navbar-brand {
    font-family: 'Oxanium', cursive;
	}

th.table-head {
    font-family: 'Share Tech Mono', monospace;
	color: #f4b132;
	font-size: 110%;
	}

.footer {
	text-align: center;
	color: #f4b132;
	font-size: 114%;
	padding-bottom: 1rem;
	}

table, th {
		border: 1.5px solid #696969;
		border-collapse: collapse;
		text-transform: uppercase;
	}
label {
	color: #f4b132;
}


